<div class="d-flex">
  <div class="box">
    <img src="{{ item.image }}" />
  </div>
  <div class="d-flex flex-column full-width">
    <div class="d-flex justify-content-between full-width">
      <div class="d-flex flex-column full-width">
        <h6>{{ item.title }}</h6>
        <p>Color: {{ item.color }}</p>
        <p>Size: {{ item.size }}</p>
        <p>{{ item.status }}</p>
      </div>
      <div class="d-flex justify-content-between full-width">
        <div class="d-flex flex-column align-items-center">
          <h6 class="heading">Each</h6>
          <h6 class="bold">Rs. {{ item.price }}</h6>
        </div>
        <div class="d-flex flex-column align-items-center">
          <h6 class="heading">Quantity</h6>
          <input type="number" value="1" />
        </div>
        <div class="d-flex flex-column align-items-center">
          <h6 class="heading">Total</h6>
          <h6 class="bold">Rs. {{ item.price }}</h6>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="d-flex mt-1">
      <app-remove-btn></app-remove-btn>
      <app-move-wishlist-btn></app-move-wishlist-btn>
    </div>
  </div>
</div>
