<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-4">
    <mat-icon class="me-2" fontIcon="shopping_bag"></mat-icon>
    <h2>My Cart</h2>
  </div>
  <div class="row" id="main-section">
    <div class="col-md-8 d-flex flex-column mt-5">
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
    </div>
    <div class="col-md-4 d-flex flex-column mt-5">
      <div><h6>ENTER PROMO CODE</h6></div>
      <div><app-validate-promo></app-validate-promo></div>
      <div class="mt-3">
        <div class="d-flex justify-content-between">
          <p>Shipping Cost</p>
          <p>Rs.200.00</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Discount</p>
          <p>- Rs.50.00</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Total</p>
          <p>Rs.150.00</p>
        </div>
      </div>
      <button><mat-icon></mat-icon> Checkout</button>
    </div>
  </div>
</div>
