.product-widget {
  margin-bottom: 20px;
}

.product-img {
  width: 60px;
  margin-right: 8px;
}

.product-img img {
  width: 100%;
}

.product-body {
  min-height: 60px;
}

.product-category {
  font-size: 10px;
  color: #8d99ae;
}

.product-name {
  font-size: 12px;
}

.product-price {
  font-size: 14px;
  color: #d10024;
}

.product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8d99ae;
}

p,
h3,
h4 {
  margin-bottom: 10px;
}
