<div id="hot-deal" class="text-uppercase section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center text-center">
        <div class="hot-deal">
          <ul class="hot-deal-countdown d-flex flex-wrap text-white">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>02</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>02</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>02</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2>hot deal this week</h2>
          <p>New collection Up to 50% off</p>
          <a href="" class="primary-btn cta-btn">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
