<div class="section-title text-center">
  <h3 class="title text-uppercase">Your Order</h3>
</div>
<div class="order-summary">
  <div class="order-col">
    <div>
      <strong>PRODUCT</strong>
    </div>
    <div>
      <strong>TOTAL</strong>
    </div>
  </div>
  <div class="order-products">
    <div class="order-col">
      <div>1x Product Name Goes Here</div>
      <div>$980.00</div>
    </div>
    <div class="order-col">
      <div>1x Product Name Goes Here</div>
      <div>$980.00</div>
    </div>
  </div>
  <div class="order-col">
    <div><strong>TOTAL</strong></div>
    <div><strong class="order-total">$294.00</strong></div>
  </div>
</div>
