<div id="reviews">
  <div class="reviews">
    <div class="d-flex">
      <div class="review-heading">
        <h5 class="name">John</h5>
        <p class="date">27 dec 2018, 8.00pm</p>
        <div class="review-rating">
          <i
            class="fa fa-sm fa-star"
            *ngFor="let count of [].constructor(4)"
          ></i>
        </div>
      </div>
      <div class="review-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure
          odio dolores, quibusdam fugit officiis assumenda? Dolore molestias ut
        </p>
      </div>
    </div>
  </div>
</div>
