<div id="newsletter" class="section">
  <div class="container">
    <div class="row">
      <div class="newsletter">
        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
        <form>
          <input type="email" class="input" placeholder="Enter Your Email" />
          <button class="newsletter-btn">
            <i class="fa fa-envelope"></i>
            Subscribe
          </button>
        </form>
        <ul class="newsletter-follow d-flex flex-wrap justify-content-center">
          <li>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
