.rating-avg {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.rating-avg .rating-stars {
  margin-left: 10px;
}

.rating-stars {
  color: #d10024;
}

.rating-progress {
  position: relative;
  height: 9px;
  width: 120px;
  margin: 0px 10px;
  border-radius: 5px;
}

.rating-progress div {
  background-color: #d10024;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}
